<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag  'scss/application.scss' %>

 
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<%= csrf_meta_tags %>


  <title>LookiN</title>

</head>
<body>
<%=render '/layouts/nav' %>

<% if params[:id]!=nil %>
	<% @url = '/user/'+ params[:id] %>
	<% if current_page?(@url) %>
	<img src="/1.jpg" class="profile-banner">
	<div class="row">
		<div class="col-sm-12" style="background-color: white;">
			<div class="conteiner">
				 <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6" style="margin-top: 5px">
            <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">POSTS<br>
                    <h6 style="color: #0084B4; font-size: 150%;">16</h6></div>
            <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 150%;">15</h6></div>
            <% if user_signed_in? %>
              <div class="col-sm-8" style="text-align: right; margin-top: 5px;"><a href="/users/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;">EDIT PROFILE</li></a></div>
            <% end %>
			</div>
		</div>
	</div>
	<% end %>
<% end %>	
<div class="container">
	   <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
<%= yield %><di
</div>
		<script>
		$('.btn btn-primary').click(function Addvalue(){
		var value=$('#post-content').val();
		$('.post-content panel-body').append(value);
			});
		</script>
</body>
</html>


