<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag  'scss/application.scss' %>

 
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<%= csrf_meta_tags %>


  <title>Fluter</title>

</head>
<body>
<%=render '/layouts/nav' %>

<div class="container">
	   <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
<%= yield %>
</div>

</body>
</html>


